#center {
  margin: 0 0.5em;
  width: calc(100% - 35em);
  @media (max-width: 1000px) {
    width: calc(100% - 4em);
  }
}

.top-header {
  position: sticky;
  z-index: 2;
  top: 0.3em;
  background-color: #102a3a;
  backdrop-filter: blur(10px) brightness(30%);
  filter: drop-shadow(1px 3px 2px #16161a9f);
  mix-blend-mode: screen;
  padding: 1em 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  svg {
    margin-right: 0.3em;
  }
  .icon {
    margin-right: 0.3em;
    height: 2em;
    width: 2em;
    object-fit: cover;
    border: 2px solid #56a9b4;
    border-radius: 100%;
  }
  .customEmoji {
    height: 1.5em;
  }
}

.middle-header {
  margin: 0.5em 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff0a;
}
