.note {
  padding: 10px 1em;
  margin: 0.5em 0;
  background-color: #ffffff0f;
  border-radius: 5px;

  .noteContainer {
    display: flex;
    margin-bottom: 0.5em;

    .icon {
      margin-right: 0.5em;
      height: 3em;
      width: 3em;

      img {
        height: 3em;
        width: 3em;
        border-radius: 100%;
        object-fit: cover;
      }
    }

    .smallIcon {
      margin-right: 0.5em;
      height: 1.5em;
      width: 1.5em;

      img {
        height: 1.5em;
        width: 1.5em;
        border-radius: 100%;
        object-fit: cover;
      }
    }

    .noteBody {
      flex-grow: 1;
      width: calc(100% - 5em);
    }

    .noteHeader {
      display: flex;
      justify-content: space-between;
      color: cadetblue;
      margin-bottom: 0.2em;
      align-items: center;
      > .userInfo {
        display: flex;
        max-width: 70%;
        > a,
        span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      .noteInfo {
        max-width: 30%;
        display: flex;
        align-items: center;
        gap: 2px;
      }
      .customEmoji {
        height: 1.2em;
      }
    }

    .instance {
      display: flex;
      align-items: center;
      border-radius: 5px;
      filter: opacity(90%);
      > img {
        height: 1.2em;
        width: inherit;
      }
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .renote {
      color: #32f15c;
    }

    .renoteIcon {
      animation: 2s ease-in-out infinite rotate;
      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }

    .createdAt {
      color: darkgray;
    }

    .noteText {
      overflow-wrap: break-word;
      word-break: break-word;
      white-space: pre-wrap;
      .replyArrow {
        margin-right: 0.3em;
      }
    }

    .codeBlock {
      background-color: #00000030;
      padding: 0.5em;
      border-radius: 5px;
      font-family: "Courier New", Courier, monospace;
    }

    .fileContainer {
      width: 100%;
      max-height: 20em;
      margin-top: 0.5em;
      gap: 5px;
      .imageBlock {
        background-color: #ffffff0a;
        border-radius: 5px;
        overflow: hidden;
        .NSFWimage {
          position: relative;
          width: 100%;
          height: 100%;
          max-height: 20em;
          button {
            right: 0;
            position: absolute;
            display: flex;
            align-items: center;
            padding: 3px;
            margin: 2px;
          }
          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
          }
          img {
            width: 100%;
            height: 100%;
            min-height: 8em;
            max-height: 20em;
            object-fit: contain;
            border-radius: 5px;
          }
          .NSFW {
            filter: blur(30px) saturate(150%) brightness(30%);
          }
        }
        .NSFWbg {
          background-color: #00000080;
        }
      }
      audio {
        width: 100%;
      }
    }

    .fileContainer[num="1"] {
      display: grid;
    }

    .fileContainer[num="2"] {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .fileContainer[num="3"] {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      img {
        max-height: 10em;
      }
      .imageBlock:first-child {
        grid-row: 1/3;
        max-height: calc(20em + 5px);
        img {
          max-height: calc(20em + 5px);
        }
      }
    }

    .fileContainer[num="4"] {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      img {
        max-height: 10em;
      }
    }
    .fileContainer:not([num="1"]):not([num="2"]):not([num="3"]):not([num="4"]) {
      display: grid;
      grid-auto-rows: 100px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  .replyBlock {
    padding: 5px 0.5em;
    margin: 0.5em 0;
    border-radius: 5px;
    border: 2px dotted teal;
    .icon {
      filter: brightness(80%);
    }
  }

  .quote {
    padding: 5px 0.5em;
    margin: 0.3em 0 0.3em 3em;
    border-radius: 5px;
    border: 2px dotted darkolivegreen;
    > div {
      width: 100%;
    }
  }

  .deepQuoteLink {
    padding-left: 3.5em;
  }
}

.reactionBar {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3.5em;
  button {
    min-width: 2.5em;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    .customEmoji {
      height: 1em;
    }
    .twemoji {
      height: 1.2em;
    }
  }
  .enabled {
    background-color: #49d3f5;
  }
}

.noteFooter {
  user-select: none;
  display: flex;
  justify-content: space-evenly;
  > div {
    display: flex;
    align-items: center;
    button {
      display: flex;
      align-items: center;
      margin: 0 3px;
      padding: 3px;
    }
  }
}
