.NotLogin {
  max-width: 800px;
  margin: 0 auto;
  header {
    text-align: center;
    font-size: 1.2em;
    margin: 0 0.5em;
    padding: 1em 0.5em;
    background-color: #102a3a;
    backdrop-filter: blur(10px) brightness(30%);
    filter: drop-shadow(1px 3px 2px #16161a9f);
    border-radius: 5px;
  }
  main {
    margin-top: 2em;
    padding: 1em 0.5em;
    background-color: #2c3744;
    filter: drop-shadow(1px 3px 2px #16161a9f);
    border-radius: 5px;
  }
}
