.side {
  top: 0.3em;
  height: 90vh;
  position: sticky;
}

#right {
  width: 20em;
  border-radius: 5px;
  background-color: #343b53;
  @media (max-width: 1000px) {
    display: none;
  }
  header {
    background-color: #102a3a;
    padding: 0.5em 0em 0.5em 1em;
  }
  .notificationWrapper {
    height: calc(100% - 2.5em);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0.5em 0;
    .customEmoji {
      height: 1.5em;
      vertical-align: middle;
    }
    .replyContainer {
      display: flex;
      opacity: 0.7;
      padding: 0.3em 1em;
      > img {
        width: 2em;
        height: 2em;
        object-fit: cover;
        border-radius: 100%;
      }
      .replyBody {
        width: calc(100% - 3em);
        .replyInfo {
          padding-left: 0.5em;
          display: flex;
          justify-content: space-between;
          .username {
            max-width: 70%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .createdAt {
            max-width: 30%;
            color: darkgray;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .replyNoteBody {
          word-break: break-word;
          .file {
            color: gray;
          }
        }
      }
    }
    .notificationContainer {
      display: flex;
      justify-content: space-between;
      padding: 0.3em 0.5em;
      .notificationIcon {
        width: 2.5em;
        height: 2.5em;
        margin-right: 0.5em;
        position: relative;
        > img {
          width: 2.5em;
          height: 2.5em;
          object-fit: cover;
          border-radius: 100%;
        }
        div {
          width: 1.5em;
          height: 1.5em;
          background-color: #1e2c52;
          border-radius: 100%;
          position: absolute;
          top: 100%;
          left: 100%;
          transform: translate(-50%, -70%);
          .twemoji {
            width: 1em;
            height: 1em;
            transform: translateX(4px);
          }
          .customEmoji {
            width: 1em;
            height: 1em;
            transform: translate(4px, -1px);
          }
          svg {
            transform: translate(15%, 12%);
            color: #328bf1;
          }
          .renote {
            color: #0cc734;
          }
          .follow {
            transform: translateX(3.5px);
          }
        }
      }
      .notificationBody {
        width: 16em;
        padding: 0 0.5em;
        .notificationNoteInfo {
          width: 14em;
          display: flex;
          justify-content: space-between;
          .username {
            max-width: 70%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .createdAt {
            max-width: 30%;
            color: darkgray;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .notificationNoteBody {
          word-break: break-word;
          .file {
            color: gray;
          }
        }
      }
    }
    .quoteContainer {
      display: flex;
      border: 1px dashed #108d2b;
      border-radius: 5px;
      margin: 0.3em 1.3em 0.3em 0.5em;
      padding: 0.5em;
      > img {
        width: 2em;
        height: 2em;
        object-fit: cover;
        border-radius: 100%;
      }
      .quoteBody {
        width: calc(100% - 2em);
        .quoteInfo {
          padding-left: 0.5em;
          display: flex;
          justify-content: space-between;
          .username {
            max-width: 70%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .createdAt {
            max-width: 30%;
            color: darkgray;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .quoteNoteBody {
          word-break: break-word;
          .file {
            color: gray;
          }
        }
      }
    }
    hr {
      border-color: #4c5f7c;
      width: 80%;
    }
  }
}

#left {
  width: 14em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0;
  background-color: #243142;
  border-radius: 5px;
  user-select: none;
  @media (max-width: 1000px) {
    width: 3em;
  }
  .upper {
    padding: 0.5em 0;
    > .item {
      cursor: auto;
      padding: 0.5em 1em;
      @media (max-width: 1000px) {
        padding: 0.5em;
      }
      color: #cccccc;
      border-radius: 5px;
      display: flex;
      align-items: center;
      font-size: 1.3em;
      &:hover {
        text-decoration: none;
        color: white;
        background-color: #ffffff0f;
      }
      label {
        margin-left: 0.5em;
        @media (max-width: 1000px) {
          display: none;
        }
      }
      &.logout {
        color: tomato;
        position: relative;
      }
    }
  }
  .lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 7em;
    justify-content: space-between;
    .Me {
      a {
        padding: 0.5em 1em;
        color: #cccccc;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &:hover {
          text-decoration: none;
          color: white;
          background-color: #ffffff0f;
        }
        @media (max-width: 1000px) {
          padding: 0;
          &:hover {
            background-color: initial;
          }
        }
        img {
          width: 3em;
          height: 3em;
          border: 3px solid #1c6999;
          border-radius: 100%;
          object-fit: cover;
          &:hover {
            border-color: #3cb4d8;
          }
        }
        label {
          width: 6em;
          font-size: 1.2em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-left: 0.5em;
          @media (max-width: 1000px) {
            display: none;
          }
        }
      }
    }
    .post-button {
      margin: 0;
      padding: 0;
      width: 2.5em;
      height: 2.5em;
      border-radius: 100%;
      background-color: #99acff;
      filter: drop-shadow(2px 2px 3px #120c27a2);
      svg {
        vertical-align: middle;
      }
    }
  }
}

.menuContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #25354e;
  border-radius: 5px;
  position: absolute;
  z-index: 4;
  top: 1em;
  width: 10em;
  outline: none;
  opacity: 0;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  hr {
    border-color: #6b73b9;
    width: 70%;
  }
  button {
    background-color: unset;
    justify-content: center;
  }
}
