.userpage {
  margin-top: 0.5em;
  position: relative;
  background-color: #ffffff0f;
  border-radius: 5px;
  margin-bottom: 1em;
  .banner {
    height: 15em;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .icon {
    border-radius: 100%;
    width: min(10em, 40vw);
    height: min(10em, 40vw);
    object-fit: cover;
    transform: translateY(-4em);
    border-width: 5px;
    border-style: solid;
    @media (max-width: 1000px) {
      transform: translateY(-2em);
    }
  }
  .user-container {
    .user-profile {
      padding: 1em 0;
      display: flex;
      justify-content: space-evenly;
      .customEmoji {
        height: 1.5em;
      }
      .username {
        margin: 0;
      }
      .userid {
        color: #97aac3;
      }
      .blocked {
        width: fit-content;
        padding: 0 0.5em;
        color: tomato;
        border: 1px solid tomato;
        border-radius: 5px;
      }
      .state {
        color: #6197df;
        margin-bottom: 1em;
      }
      > div {
        width: 60%;
      }
      .desc {
        word-break: break-word;
        white-space: break-spaces;
      }
      @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        * {
          text-align: center;
        }
        > div {
          width: 95%;
        }
      }
    }
    .user-info {
      padding-bottom: 1em;
      hr {
        border-color: #355064;
        width: 90%;
      }
      .fields {
        padding: 0 5%;
        div {
          margin-top: 0.5em;
          width: 100%;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          dt {
            width: 30%;
            text-align: center;
            word-break: break-word;
          }
          dl {
            width: 70%;
            word-break: break-word;
            white-space: break-spaces;
          }
        }
      }
      .dates {
        padding: 0 5%;
        display: flex;
        dt {
          width: 30%;
          text-align: center;
          svg {
            margin-right: 0.5em;
          }
        }
        dl {
          width: 70%;
        }
      }
      .count {
        display: flex;
        justify-content: space-evenly;
        > div {
          text-align: center;
        }
      }
    }
  }
}

.pinned-posts {
  background-color: #60c5ff0a;
  padding: 1em 0.5em;
  border-radius: 5px;
  > p {
    color: coral;
    text-align: center;
  }
}

.userNotes {
  .noteNav {
    width: 100%;
    ul {
      padding: 0;
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      li {
        cursor: pointer;
        padding: 0.5em;
        border-bottom: 2px solid #a3cbff;
        &:hover {
          color: #43baff;
        }
        &.active {
          color: #a3cbff;
        }
      }
    }
  }
}

.userRelation {
  > div {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: min(20em, calc(100vw - 5em));
    border-radius: 5px;
    .banner {
      width: 100%;
      height: 3.5em;
      object-fit: cover;
    }
    .relationContainer {
      width: 100%;
      display: flex;
      border-bottom: 5px;
      > img {
        width: 2.5em;
        height: 2.5em;
        border-radius: 100%;
        border-width: 2px;
        border-style: solid;
      }
      > div {
        width: 100%;
        p,
        a {
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}
