.userpage {
  background-color: #ffffff0f;
  border-radius: 5px;
  margin-bottom: 1em;
  .banner {
    height: 15em;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .icon {
    border-radius: 100%;
    width: 10em;
    height: 10em;
    object-fit: cover;
    transform: translateY(-4em);
    border: 5px solid #04002cbb;
  }
  .user-container {
    padding: 1em 0;
    display: flex;
    justify-content: space-evenly;
    .customEmoji {
      height: 1.5em;
    }
    .username {
      margin: 0;
    }
    .userid {
      color: #97aac3;
      margin-bottom: 1em;
    }
    > div {
      min-width: 40%;
      max-width: 60%;
    }
    .desc {
      word-break: break-word;
      white-space: break-spaces;
    }
    .user-info {
      margin-top: 2em;
      display: flex;
      justify-content: space-between;
      > div {
        text-align: center;
      }
    }
  }
}

.pinned-posts {
  background-color: #60c5ff0a;
  padding: 1em 0.5em;
  border-radius: 5px;
  > p {
    color: coral;
    text-align: center;
  }
}
